.Template1 {
  /* background-image: url("../public/building.jpg"); */
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  margin: 0%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Template2 {
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  margin: 0%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
